<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LoginCaptcha</display-name>
  <servlet>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.logincaptecha.samplewar.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  
  <!--<servlet>
    <servlet-name>SessionManagementServlet</servlet-name>
    <servlet-class>com.logincaptecha.samplewar.SessionManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionManagementServlet</servlet-name>
    <url-pattern>/SessionManagementServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.logincaptecha.samplewar.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>com.logincaptecha.samplewar.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
  
    
     <session-config>
     <session-timeout>2</session-timeout>
     </session-config>-->
  
  <welcome-file-list>
	  <!--<welcome-file>Login.html</welcome-file>-->
   <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.logincaptecha.samplewar.HttpSessionCollector</listener-class>
  </listener>
</web-app>
